@font-face {
  font-family: "Roboto";
  src: url(../../../Common/Fonts/Roboto.woff);
}
.header{
  display: flex;
  flex-direction: row;
  height: 80px;
}
.logo{
  width: 48px;
  height: 48px;
  margin: 16px 0px 16px 32px;
}
.name {
  width: 86px;
  left: 96px;
  padding: 26px 0px 26px 16px;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #096DD9;
}