.testInfo {
  text-align: center;
}

.bold {
  font-size: 38px;
  line-height: 46px;
  padding-top: 50px;
  margin-bottom: 50px;
}
.progressBar {
  width: 710px;
  height: 29px;
  margin-bottom: 70px;
  font-size: 29px;
}
.progressBar span {
  font-size: 18.69px;
  line-height: 29px;
}
.error {
  height: 55px;
  color: red;
  font-size: 24px;
  line-height: 32px;
}
.left {
  width: 458px;
  height: 320px;
  margin: 45px 9px 0px 0px;
}
.right {
  width: 458px;
  height: 320px;
  margin: 45px 0px 0px 0px;
}
.pictures {
  position: relative;
}
.objectsLeft {
  position: relative;
  margin: -320px 0px 0px 500px;
  width: 458px;
  height: 320px;
}
.l1 {
  position: absolute;
  width: 40px;
  height: 60px;
  margin: 20px 0px 0px 30px;

}
.l1:hover,.l2:hover,.l3:hover,.l4:hover,.l5:hover,.l6:hover,.l7:hover,.l8:hover,.l9:hover,
.l9:hover,.l10:hover,.l12:hover,.l13:hover,.l14:hover,.l15:hover,.l16:hover,.l17:hover,.l18:hover,
.l19:hover,.l20:hover,.l21:hover,.l22:hover,.l23:hover,.l24:hover,.l25:hover,
.r1:hover,.r2:hover,.r3:hover,.r4:hover,.r5:hover,.r6:hover,.r7:hover,.r8:hover,.r8:hover,.r9:hover,
.r10:hover,.r11:hover,.r12:hover,.r13:hover,.r14:hover,.r15:hover,.r16:hover,.r17:hover,.r18:hover,.r19:hover,
.r20:hover,.r21:hover,.r22:hover,.r23:hover,.r24:hover,.r25:hover{
  background-image: url(./../../../../Common/img/Okey.svg);
  background-repeat: no-repeat;
}
.l4:hover,.l10:hover,.l24:hover{
  background-size: 100%;
}
.l5:hover,.r5:hover,.r25:hover{
  background-size: 50%;
}
.r4:hover{
  background-size: 60%;
}

.l2 {
  position: absolute;
  width: 50px;
  height: 56px;
  margin: 23px 0px 0px 88px;
 
}
.l3 {
  position: absolute;
  width: 47px;
  height: 48px;
  margin: 17px 0px 0px 140px;

}
.l4 {
  position: absolute;
  width: 25px;
  height: 42px;
  margin: 25px 0px 0px 212px;

}
.l5 {
  position: absolute;
  width: 60px;
  height: 25px;
  margin: 32px 0px 0px 255px;

}
.l6 {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 32px 0px 0px 331px;
 
}
.l7 {
  position: absolute;
  width: 54px;
  height: 35px;
  margin: 25px 0px 0px 385px;

}
.l8 {
  position: absolute;
  width: 70px;
  height: 45px;
  margin: 90px 0px 0px 58px;
 
}
.l9 {
  position: absolute;
  width: 43px;
  height: 42px;
  margin: 85px 0px 0px 155px;
}
.l10 {
  position: absolute;
  width: 25px;
  height: 70px;
  margin: 79px 0px 0px 221px;
}
.l11 {
  position: absolute;
  width: 55px;
  height: 40px;
  margin: 90px 0px 0px 267px;
}
.l12 {
  position: absolute;
  width: 97px;
  height: 40px;
  margin: 97px 0px 0px 350px;
}
.l13 {
  position: absolute;
  width: 35px;
  height: 45px;
  margin: 154px 0px 0px 20px;
}
.l14 {
  position: absolute;
  width: 73px;
  height: 40px;
  margin: 154px 0px 0px 65px;
}
.l15 {
  position: absolute;
  width: 53px;
  height: 78px;
  margin: 142px 0px 0px 155px;
}
.l16 {
  position: absolute;
  width: 35px;
  height: 52px;
  margin: 158px 0px 0px 210px;
}
.l17 {
  position: absolute;
  width: 52px;
  height: 40px;
  margin: 163px 0px 0px 270px;
}
.l18 {
  position: absolute;
  width: 40px;
  height: 61px;
  margin: 152px 0px 0px 333px;
}
.l19 {
  position: absolute;
  width: 40px;
  height: 71px;
  margin: 146px 0px 0px 393px;
}
.l20 {
  position: absolute;
  width: 47px;
  height: 46px;
  margin: 234px 0px 0px 28px;
}
.l21 {
  position: absolute;
  width: 42px;
  height: 46px;
  margin: 238px 0px 0px 96px;
}
.l22 {
  position: absolute;
  width: 42px;
  height: 56px;
  margin: 238px 0px 0px 164px;
}
.l23 {
  position: absolute;
  width: 68px;
  height: 76px;
  margin: 227px 0px 0px 224px;
}
.l24 {
  position: absolute;
  width: 25px;
  height: 56px;
  margin: 232px 0px 0px 314px;
}
.l25 {
  position: absolute;
  width: 47px;
  height: 56px;
  margin: 238px 0px 0px 372px;
}
.objectsRight {
  position: relative;
  margin: -320px 0px 0px 965px;
  width: 458px;
  height: 320px;
}
.r1 {
  position: absolute;
  width: 55px;
  height: 43px;
  margin: 30px 0px 0px 32px;
}
.r2 {
  position: absolute;
  width: 62px;
  height:34px;
  margin: 23px 0px 0px 110px;
}
.r3 {
  position: absolute;
  width: 45px;
  height: 88px;
  margin: 30px 0px 0px 192px;
}
.r4 {
  position: absolute;
  width: 42px;
  height: 25px;
  margin: 262px 0px 0px 257px;
}
.r5 {
  position: absolute;
  width: 52px;
  height: 25px;
  margin: 25px 0px 0px 279px;  
}
.r6 {
  position: absolute;
  width: 32px;
  height: 70px;
  margin: 37px 0px 0px 351px; 
}
.r7 {
  position: absolute;
  width: 34px;
  height: 73px;
  margin: 32px 0px 0px 400px; 
}
.r8 {
  position: absolute;
  width: 38px;
  height: 48px;
  margin: 100px 0px 0px 23px; 
}
.r9 {
  position: absolute;
  width: 43px;
  height: 42px;
  margin: 63px 0px 0px 109px; 
}
.r10 {
  position: absolute;
  width: 40px;
  height: 53px;
  margin: 110px 0px 0px 99px;
}
.r11 {
  position: absolute;
  width: 51px;
  height: 40px;
  margin: 60px 0px 0px 250px; 
}
.r12 {
  position: absolute;
  width: 43px;
  height: 54px;
  margin: 120px 0px 0px 163px; 
}
.r13 {
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 99px 0px 0px 308px; 
}
.r14 {
  position: absolute;
  width: 65px;
  height: 43px;
  margin: 170px 0px 0px 28px; 
}
.r15 {
  position: absolute;
  width: 68px;
  height: 47px;
  margin: 165px 0px 0px 115px; 
}
.r16 {
  position: absolute;
  width: 57px;
  height: 45px;
  margin: 120px 0px 0px 230px; 
}
.r17 {
  position: absolute;
  width: 52px;
  height: 35px;
  margin: 192px 0px 0px 210px; 
}
.r18 {
  position: absolute;
  width: 35px;
  height: 46px;
  margin: 155px 0px 0px 288px; 
}
.r19 {
  position: absolute;
  width: 47px;
  height: 33px;
  margin: 129px 0px 0px 365px; 
}
.r20 {
  position: absolute;
  width: 51px;
  height: 46px;
  margin: 234px 0px 0px 28px; 
}
.r21 {
  position: absolute;
  width: 50px;
  height: 80px;
  margin: 205px 0px 0px 94px; 
}
.r22 {
  position: absolute;
  width: 42px;
  height: 39px;
  margin: 243px 0px 0px 177px; 
}
.r23 {
  position: absolute;
  width: 52px;
  height: 76px;
  margin: 180px 0px 0px 374px; 
}
.r24 {
  position: absolute;
  width: 49px;
  height: 67px;
  margin: 180px 0px 0px 314px; 
 
}
.r25 {
  position: absolute;
  width: 57px;
  height: 26px;
  margin: 265px 0px 0px 340px; 
}
.testInfo .acceptButton {
  width: 689px;
  height: 56px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
}
.testInfo .acceptButton span {
  font-size: 24px;
  line-height: 32px;
}
.testInfo .acceptButton:hover,
.testInfo .acceptButton:focus {
  cursor: pointer;
  background: #1890ff;
  border: 1px solid #1890ff;
}
