.testInfo {
  text-align: center;
}
.testInfo .answerButton {
  width: 299px;
  height: 88px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  border: 1px solid #bfbfbf;
  background: #f5f5f5;
  border-radius: 2px 0px 0px 2px;
  margin-left: 88px;
}
.testInfo .answerButton:hover,
.testInfo .answerButton:focus {
  color: #ffffff;
  background: #1890ff;
  cursor: pointer;
}
.bold {
  font-size: 38px;
  line-height: 46px;
  padding-top: 150px;
  margin-bottom: 90px;
}
.testInfo .progressBar {
  width: 710px;
  height: 29px;
  margin-bottom: 70px;
  font-size: 29px;
}

.progressBar span {
  font-size: 18.69px;
  line-height: 29px;
}
.buttonZone {
  display: flex;
  flex-direction: row;
  margin-left: 529px;
  margin-bottom: 15px;
}
.error {
  height: 55px;
  color: red;
  font-size: 24px;
  line-height: 32px;
}
.testInfo .acceptButton {
  margin-top: -16px;
  width: 689px;
  height: 56px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
}
.testInfo .acceptButton span {
  font-size: 24px;
  line-height: 32px;
}
.testInfo .acceptButton:hover,
.testInfo .acceptButton:focus {
  cursor: pointer;
  background: #1890ff;
  border: 1px solid #1890ff;
}
