.sideBar {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 304px;
  background: #fafafa;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 20;
}
.firstDiv {
  padding: 25px 0px 0px 26px;
}
.homePage {
  font-size: 16px;
  line-height: 24px;
  padding-left: 17px;
  color: rgba(0, 0, 0, 0.45);
  border: none;
  background: #fafafa;
}
.homePage:hover {
  cursor: pointer;
}
.settings {
  position: relative;
  top: 12px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #d9d9d9;
  height: 100px;
  border: none;
  background: #fafafa;
}
.settings:hover {
  cursor: pointer;
}
.homeIcon svg {
  width: 32px;
  height: 30px;
  color: rgba(0, 0, 0, 0.45);
}
.footerIcon svg {
  width: 36px;
  height: 36px;
  margin-left: 20px;
}
.footerSideBar {
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
}
.footerMenu {
  padding-bottom: 15px;
  padding-left: 5px;
}
